@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Sarabun&display=swap');

.container{
    height: 88vh;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1618590067824-5ba32ca76ce9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.inner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding:10px;
}

.primary{
    background:linear-gradient(45deg,orange,orangered);
    color:white;
    font-size:18px;
    padding:8px;
    border:none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
    margin:10px;
}

.quote {
    font-size: 28px;
    padding:8px;
    font-family: 'Handlee', cursive;
}